<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>This is the layout</title>
        <link href="/Assets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header"><h1>ModCore</h1></div>
        @RenderBody()
    </body>
</html>
